.ToDoListItem {
  background-color: #eee;
  padding: .6rem 1rem;
  border: 1px solid #eee;
  margin-bottom: .25rem;
  transition: background-color 125ms;
  border-radius: .25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ToDoListItem:hover {
  cursor: pointer;
  background-color: #fff;
}

.ToDoListItem:has(.Checked)>.ToDoListItemText {
  text-decoration: line-through;
  opacity: 60%;
}

.ToDoListItemCheck {
  background-color: blue;
}

.Checked.ToDoListItemCheck {
  background-color: green;
}

.ToDoListItemCheck.Unchecked {
  background-color: red;
}

.ToDoListItemControls {
  display: flex;

}

.ToDoListItemDelete {
  background-color: transparent;
  /* margin-right: .5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  transition: color 100ms, background-color 100ms;
}

.ToDoListItemDelete:hover {
  color: white;
  background-color: #111;
}

.ToDoListItemCheck,
.ToDoListItemDelete {
  width: 24px;
  height: 24px;
  border-radius: 16px;
}