.AddItem {
  background-color: beige;
  width: 80%;
  align-self: center;
  /* border-radius: .25rem; */
  /* padding: .25rem; */
  margin-bottom: 1rem;
  display: flex;
  background-color: white;
  box-shadow: 0px 12px 32px #00000033;
  padding: 1rem;
  border-radius: .25rem;
}

.AddItem-Button,
.AddItem-Input {
  padding: .5rem 1rem;
  border: 1px solid #eee;
  border-radius: .25rem;
}

.AddItem-Input {
  margin-right: .25rem;
  flex-grow: 1;
}