* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  padding: 1rem;
}

.App {
  /* background-color: cyan; */

  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.greeting {
  color: blue;
}

.fruit {
  color: green;
}